nextjs-dashboard/.env
nextjs-dashboard/node_modules

simple-nextjs/node_modules
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/learn-nextjs.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
